body
{

margin:0px;
padding: 0px;
font-family:'Times New Roman';

overflow-x: hidden;



}

form{
   
    text-align: center;
   
}

h2{

    color:white;    
    border: 5px solid white;
    border-radius:40px 0px 40px 0px;
    padding: 5px;
    box-shadow: 5px 8px black;
    text-shadow: 2px 2px 2px black;


        
}
    


#form
{

    position:absolute;
    top:10px;
    left:550px;

    background:linear-gradient(-300deg,rgb(0, 60, 128),rgb(40, 177, 231),rgb(0, 60, 128) );
    width:300px;
    height:auto;
    padding: 30px;

    border-radius: 10px;
    box-shadow: 10px 10px 12px black;

   
   

   
}
label
{
    font-family: 'Times New Roman';
    font-size: 25px;
    color:white;
    text-shadow: 2px 2px 2px black;

}
#textbox
{
    color:black;
    border-radius: 12px;
    font-weight:900 ;
    
    
}

input
{
  width:70%;
  height:25px;


}
select
{
    width:60%;
    height:30px; 
    font-size: 15px;
    border-radius: 12px; 
    font-weight: 900;


}
option
{
    font-size:15px;
    font-weight: 900;
    background-color:skyblue;
    text-align: center;

   
   
}

#btn{
    
    background:linear-gradient(-300deg,rgb(15, 223, 15),white,  rgb(15, 223, 15));
    color:black;
    font-size: 20px;
    font-family:'Times New Roman';
    font-weight: 900;
    background-origin: padding-box;
    
    width:100px;
    height:40px;

    border:3px solid white;
    border-radius: 10px;



}

#btn:hover
{


    background:linear-gradient(-300deg,rgb(223, 15, 15),white,  rgb(223, 15, 15));
color:black;

}